---
interface Props {
	name: string;
	time: string;
	score: number;
	href: string;
}

const { name, time, score,href } = Astro.props;
---

<li class="link-card">
	<a href={href}>
		<h5>
			{name}
		</h5>
		<p>
			{time}
		</p>
		<input type="number" disabled value={score}>
	</a>
</li>
<style>
	.link-card {
		width: 100px;
		height: 80px;
		list-style: none;
		display: flex;
		background-color: #23262d;
		background-image: none;
		background-size: 100%;
		border-radius: 7px;
		background-position: 100%;
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
	}
	.link-card > a {
		width: 100%;
		border-radius: 7px;
		background-color: #474a52;
		color: white;
		text-decoration: none;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	h5 {
		margin: 0;
		text-align: center;
		font-size: 0.9rem;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}
	p {
		text-align: center;
		margin-top: 0.9rem;
		margin-bottom: 0;
	}
	input{
		margin: 0 auto;
		width: 40px;
		text-align: right;
		border-radius: 1px;
		color: white;
	}
	.link-card:is(:hover, :focus-within) {
		background-position: 0;
		background-image: var(--accent-gradient);
	}
	.link-card:is(:hover, :focus-within) h2 {
		color: rgb(var(--accent-light));
	}
</style>
